## Test output:
```

```
## Test error:
```
/ds1000/test_792.py:25: DeprecationWarning: Please import `csr_matrix` from the `scipy.sparse` namespace; the `scipy.sparse.csr` namespace is deprecated and will be removed in SciPy 2.0.0.
  assert type(result) == sparse.csr.csr_matrix

```