## Test output:
```

```
## Test error:
```
Traceback (most recent call last):
  File "/ds1000/test_10.py", line 59, in <module>
    test_execution(solution)
  File "/ds1000/test_10.py", line 55, in test_execution
    exec(code, test_env)
  File "<string>", line 11, in <module>
TypeError: descriptor 'setdefault' for 'dict' objects doesn't apply to a 'NoneType' object

```