## Test output:
```

```
## Test error:
```
Traceback (most recent call last):
  File "/ds1000/test_269.py", line 66, in <module>
    test_execution(solution)
  File "/ds1000/test_269.py", line 56, in test_execution
    assert exec_test(test_env["result"], expected_result)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
AssertionError

```