## Test output:
```

```
## Test error:
```
Traceback (most recent call last):
  File "/ds1000/test_269.py", line 67, in <module>
    test_string(solution)
  File "/ds1000/test_269.py", line 63, in test_string
    assert "for" not in tokens and "while" not in tokens
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
AssertionError

```