## Test output:
```

```
## Test error:
```
/ds1000/test_190.py:9: FutureWarning: The provided callable <function sum at 0xffff7d5da7a0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  return pd.pivot_table(
/ds1000/test_190.py:9: FutureWarning: The provided callable <function mean at 0xffff7d5db880> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  return pd.pivot_table(
<string>:6: FutureWarning: The provided callable <function sum at 0xffff7d5da7a0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
<string>:6: FutureWarning: The provided callable <function mean at 0xffff7d5db880> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.

```